.TagDiv
{
position: absolute;
left: 30%;
top: 49.5%;
width: 40%;
height: 50%;
background-color: #E7D8AC;
border-color: #CE1126;
border-width: .5vh;
border-style: solid;
border-radius: .75vw;
border-bottom-width: 0;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.YourText
{
position: absolute;
top: -8.5%;
left: 2.5%;
font-size: 5vh;
font-weight: bold;
font-family: "Arial Black", Gadget, sans-serif;
}

.InstText
{
position: absolute;
top: 0%;
right: 2.5%;
font-size: 1.8vh;
font-style: italic;
}

.TagCard
{
position: absolute;
top: 20%;
left: 10%;
width: 80%;
height: 75%;
background-color: #FFFFFF;
background-image: url("../Images/notecard.png");
background-size: cover;
}

.TagText
{
position: absolute;
top: 32%;
height: 20%;
width: 100%;
font-size: 7vh;
text-align: center;
font-family: "Lucida Console", Monaco, monospace;
}

.TagTxt
{
position: absolute;
left: 25%;
top: 5%;
font-size: 2.5vh;
}

.TagCodeInput
{
position: absolute;
left: 40%;
top: 11%;
height: 10%;
width: 30%;
font-size: 4vh;
}

.FeedTxt
{
position: absolute;
left: 18%;
top: 30%;
text-align: center;
}

.Zomb1List
{
position: absolute;
left: 20%;
top: 50%;
width: 15%;
}

.Zomb2List
{
position: absolute;
right: 20%;
top: 50%;
width: 15%;
}

.Zomb3List
{
position: absolute;
left: 42.5%;
top: 50%;
width: 15%;
}

.AssocText
{
position: absolute;
left: 18%;
top: 62.5%;
}

.MissionList
{
position: absolute;
left: 60%;
top: 67.5%;
width: 20%;
}

.reportBTN
{
position: absolute;
left: 42.5%;
top: 85%;
width: 15%;
}

.ErrorDiv
{
position: absolute;
top: 40%;
left: 35%;
width: 30%;
height: 5%;
background-color: #E5B0AC;
border-color: #CE1126;
border-width: 1vh;
border-style: solid;
font-size: 2vh;
text-align: center;
font-weight: bold;
}